/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/bulma.sass";

.logo {
  font-family: cursive;
  font: bold;
  font-size: 20pt;
  color: #6b1a1a;
}
